html
{
	/*background: linear-gradient(to bottom left, #222222, #444444);.*/
	background-color: #444444;

}

html, button
{
	font-family: 'Open Sans', Helvetica;
	font-style: italic;
}

header
{
	margin-bottom: 3.2rem;
	color: #ffc600;
	border: white;
}

#welcome_banner
{
	text-align: center;
	font-weight: bold;
	font-size: 2.5rem;
}

#profile_picture_div
{
	padding-top: 2rem;
}

#profile_picture_img
{
	width: 25rem;
	height: 25rem;

	border-radius: 90%;
	border: solid #FFFFFF;

	display: block;
	margin-left: auto;
	margin-right: auto;

	transition-property: box-shadow, border;
	transition-duration: 0.8s;

}

#profile_picture_img:hover
{
	box-shadow: 0 0 1rem #ffc600;
	border: solid #ffc600;
}

#profile_picture_div
{
}

.button_menu
{
	width: 100px;
}

.row_button
{
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.rButton
{
	font-size: 2rem;
	border: .05rem solid #FFFFFF;
	color: #ffc600;
	margin:1rem;
	margin-top:4em;
	padding: 0.7rem .5rem;
	background: rgba(0,0,0,0.1);
	border-radius: .5rem;
	width: 13rem;

	transition-property: background, box-shadow, border;
	transition-duration: 0.8s;

	}

.rButton:hover
{
	box-shadow: 0 0 1rem #ffc600;
	background: rgba(255,255,255,0.1);
	border: .05rem solid #ffc600;
}