html
{
	/*background: linear-gradient(to bottom left, #222222, #444444);.*/
	background-color: #444444;

}

html, button
{
	font-family: 'Open Sans', Helvetica;
	font-style: italic;
	color: #ffc600;
}

